@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0); } }
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    transform: scale3d(1, 1, 1); } }
/*font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/
.nav {
  font-family: 'Poppins', sans-serif; }

* {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px; }

body {
  box-sizing: border-box;
  height: 300rem; }

html {
  font-size: 62.5%; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */ }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

a {
  text-decoration: none;
  color: #000; }

.section-search {
  margin: 10rem 0;
  padding: 1rem; }

.section-events {
  margin: 5rem 0; }

.section__heading {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  position: relative;
  color: #0095a8; }
  .section__heading::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 105%;
    height: .1rem;
    width: 5rem;
    background: #000; }

.nav {
  width: 100%;
  height: 6.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  position: absolute;
  z-index: 100; }
  .nav__links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 2rem; }
    .nav__links-link {
      color: #fff; }

.header {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: .2px; }
  .header__heading-1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 20rem;
    margin-bottom: 10rem; }
  .header__heading-2 {
    font-size: 2rem;
    letter-spacing: 3px;
    margin: 0 2rem;
    line-height: 5rem; }
  .header__image {
    width: 150%;
    height: 100%;
    position: absolute;
    top: -1rem;
    z-index: -1;
    left: -25%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(26, 26, 26, 0.1)), url(../images/banner.jpg);
    background-attachment: fixed;
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.5); }

.search__block {
  display: flex;
  align-items: center;
  width: 60rem;
  margin-left: 50%;
  transform: translateX(-50%);
  transition: all .3s; }
  .search__block:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
.search__city {
  width: 70%;
  padding: 1.5rem 2.5rem;
  align-self: stretch;
  border: none;
  border: 1px solid #3d5afe;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }
  .search__city:hover {
    cursor: pointer; }
.search__button {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 3px;
  background: #3d5afe;
  padding: 1.5rem 2.5rem;
  white-space: nowrap;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  transition: all 0.3s cubic-bezier(0.87, 0.13, 0.83, 0.67);
  overflow: hidden;
  position: relative;
  z-index: 1; }
  .search__button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0031ca;
    left: 0;
    top: 100%;
    transition: all 0.3s cubic-bezier(0.87, 0.13, 0.83, 0.67);
    z-index: -1; }
  .search__button:hover::after {
    top: 0; }
  .search__button:hover {
    cursor: pointer; }

.psuedoMod::after {
  background: #0095a8; }

.event__box {
  overflow: hidden;
  position: absolute;
  width: 40rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  position: relative;
  display: inline-block;
  transition: all .3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .event__box:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
.event__partition {
  background: #fff;
  width: 150%;
  left: -25%;
  height: 100%;
  position: absolute;
  border-top-left-radius: 60% 30%;
  border-top-right-radius: 60% 30%;
  transform: translateY(-50%);
  top: 40rem; }
.event__img {
  width: 100%; }
  .event__img img {
    width: 100%; }
.event__text {
  padding: 2rem;
  position: relative;
  font-family: 'Roboto', sans-serif;
  background: #fff; }
  .event__text-heading {
    margin-bottom: 5rem;
    font-size: 3rem; }
  .event__text-details {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .event__text-details__location, .event__text-details__date {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      margin: 2rem 0; }
      .event__text-details__location i, .event__text-details__date i {
        font-size: 1.8rem; }
      .event__text-details__location span, .event__text-details__date span {
        margin-left: 1.2rem; }
    .event__text-details__price {
      background: #3d5afe;
      font-size: 2rem;
      color: #fff;
      padding: 1rem 1.5rem;
      transition: all .3s; }
      .event__text-details__price:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        animation: tada .5s; }
.event__tags {
  margin-top: 2rem; }
  .event__tags a {
    background: rgba(179, 182, 244, 0.62);
    color: #0031ca;
    font-size: 1.2rem;
    letter-spacing: 2.5px;
    margin: 1rem .2rem;
    padding: .3rem 1rem;
    border: 1px solid #0031ca;
    border-radius: 300px; }
.event__gallery {
  margin: 3rem 0;
  width: 100%;
  height: 50rem;
  overflow: hidden; }
  .event__gallery-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #745b5b;
    justify-content: space-around; }
  .event__gallery-slider {
    width: 90%;
    height: 100%;
    background: black;
    overflow: hidden;
    display: flex;
    position: relative; }
  .event__gallery-btn {
    width: 5rem; }
    .event__gallery-btn:hover {
      cursor: pointer; }
    .event__gallery-btn i {
      font-size: 5rem;
      display: inline-block; }
  .event__gallery-event {
    width: 40rem;
    height: 70rem;
    background: red;
    position: absolute; }

/*# sourceMappingURL=style.css.map */
