$color-primary-dark: #0031ca;
$color-primary: #3d5afe;
$color-primary-light: #8187ff;

$color-secondary: #26c6da;
$color-secondary-light: #6ff9ff;
$color-secondary-dark: #0095a8;

$color-white: #fff;
$color-black: #000;

$color-grey: #9b9b9b;
$color-grey-dark: #332f2f;
$color-grey-light: #d8d8d8;