@import "abstracts/variables.scss";
@import "abstracts/mixins.scss";
@import "base/animation.scss";
@import "base/typography.scss";
@import "base/base.scss";


@import "pages/home.scss";

@import "layout/header.scss";
@import "layout/footer.scss";
@import "layout/navigation.scss";

@import "component/searchbar.scss";
@import "component/events.scss";