
.event {
    &__box {
        overflow: hidden;
        position: absolute;
        width: 40rem;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 3px;
        position: relative;
        display: inline-block;
        transition: all .3s;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

    }
    &__partition {
        background: $color-white;
        width: 150%;
        left: -25%;
        height: 100%;
        position: absolute;
        border-top-left-radius: 60% 30%;
        border-top-right-radius: 60% 30%;
        transform: translateY(-50%);
        top: 40rem;
    }
    &__img {
        width: 100%;
        & img {
            width: 100%;
        }
    }
    &__text {
        padding: 2rem;
        position: relative;
        font-family: 'Roboto', sans-serif;

        background: $color-white;
        &-heading {
            margin-bottom: 5rem;
            font-size: 3rem;
        }
        &-details {
            padding: 2rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__location,
            &__date {
                display: flex;
                align-items: center;
                font-size: 1.3rem;
                margin: 2rem 0;
                & i {

                    font-size: 1.8rem;
                }
                & span {
                    margin-left: 1.2rem;
                }
            }
            &__price {
                background: $color-primary;
                font-size: 2rem;
                color: $color-white;
                padding: 1rem 1.5rem;
                transition: all .3s;
                &:hover {
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                    animation: tada .5s;
                }
            }
        }
    }
    &__tags {
        margin-top: 2rem;
        & a {
            background: rgba(179, 182, 244, 0.62);
            color: $color-primary-dark;
            font-size: 1.2rem;
            letter-spacing: 2.5px;
            margin: 1rem .2rem;
            padding: .3rem 1rem;
            border: 1px solid $color-primary-dark;
            border-radius: 300px;
        }
    }

    &__gallery {
        margin: 3rem 0;
        width: 100%;
        height: 50rem;
        overflow: hidden;
        &-container {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            background: #745b5b;
            justify-content: space-around;
        }

        &-slider {
            width: 90%;
            height: 100%;
            background: black;
            overflow: hidden;
            display: flex;
            position: relative;
        }
        &-btn {
            width: 5rem;
                &:hover {
                cursor: pointer;
            }
            & i {
                font-size: 5rem;
                display: inline-block;
            }
        }
        &-event{
            width: 40rem;
            height: 70rem;
            background: red;    
            position: absolute;
        }
    }

}

